%h2 Main Page
%p Here is some text.
%p Current content in test database:
- if @notes.any?
  %ul(id="notes")
  - @notes.each do |note|
    %li
      %a( href= "/#{note.id}" ) #{note.creator}'s #{note.name}
    %br
- else
  %p No notes in the database yet!
